html {
  background-color: #fff;
}

article {
  background: #6c716c;
  color: #fff;
  transition: background 2s;
}

h1 {
  color: rgba(255, 255, 255, .1);
  font-family: Sacramento;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  height: 150px;
}

h2 {
  font-family: lato;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  border: 1px solid #fff;
  width: 150px;
  height: 150px;
}

@media only screen and (min-width: 25em) {

  article {
  background: #293569;
  transition: background 2s;
  }

}

@media only screen and (min-width: 38em) {

  article {
  background: #9a4b46;
  transition: background 2s;
  }

}

@media only screen and (min-width: 60em) {

  article {
  background: #977b49;
  transition: background 2s;
  }

}

@media only screen and (min-width: 90em) {

  article {
  background: #11291b;
  transition: background 2s;
  }

}
