html {
  background-color: #fff;
}

article {
  background: #0a2222;
  color: #fff;
}

h1 {
  color: rgba(255, 255, 255, .1);
  font-family: Sacramento;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  height: 150px;
}

h2 {
  font-family: lato;
  position: relative;
  float: left;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  border: 1px solid #fff;
  width: 150px;
  height: 150px;
}
